:root {
  /* Color */
  --hue: 215;
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --bg-main: hsl(var(--hue), 100%, 95%);
  --bg-secondary: hsl(var(--hue), 100%, 90%);
  --accent: hsl(var(--hue), 100%, 25%);
  --accent-secondary: hsl(var(--hue), 100%, 80%);
  --border: hsl(0, 0%, 90%);
  --overlay: hsla(0, 0%, 0%, 0.5);
  /* Border */
  --border-radius: 0.5rem;
  --border-radius-2: 100rem;

  /* Gap */
  --gap: 0.5rem;
  --gap-2: 1rem;
  --gap-3: 1.5rem;

  /* Margin */
  --margin: 0.5rem;
  --margin-2: 1rem;
  --margin-3: 1.5rem;

  /* Padding */
  --padding: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 1.5rem;

  /* Font size */
  --font-size-small: 0.75rem;
  --font-size-medium: 1rem;
  --font-size-large: 2rem;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Button */
  --button-padding: 0.5rem 1rem;
  --button-padding-2: 0.25rem 0.5rem;

  /* Transition */
  --transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  vertical-align: middle !important;
}

body {
  font-family: "Manrope", sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--white);
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  word-break: break-all !important;
  overflow-wrap: break-word !important;
  text-wrap: balance !important;
  white-space: break-spaces !important;
  will-change: transform;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* ============= Modular classes ============  */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  justify-content: start;
  align-items: start;
}

.flex-start-center {
  justify-content: start;
  align-items: center;
}

.flex-center-start {
  justify-content: center;
  align-items: start;
}

.flex-space-between-start {
  justify-content: space-between;
  align-items: start;
}

.flex-space-between-center {
  justify-content: space-between;
  align-items: center;
}

.gap-half {
  gap: var(--gap);
}

.gap-full {
  gap: var(--gap-2);
}

.gap-full-quarter {
  gap: var(--gap-3);
}

.w100 {
  width: 100vw !important;
}

.w-full {
  width: 100% !important;
}

.h100 {
  height: 100vh !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-main {
  background-color: var(--bg-main) !important;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
}

.bg-accent-secondary {
  background-color: var(--accent-secondary) !important;
}

.border {
  border: 1px solid var(--border) !important;
}

.border-radius {
  border-radius: var(--border-radius) !important;
}

.color-white {
  color: var(--white) !important;
}

.color-black {
  color: var(--black) !important;
}

.p0 {
  padding: 0 !important;
}

.p1 {
  padding: var(--padding) !important;
}

.p2 {
  padding: var(--padding-2) !important;
}

.p3 {
  padding: var(--padding-3) !important;
}

.button-padding {
  padding: var(--button-padding) !important;
}

.m0 {
  margin: 0 !important;
}

.m1 {
  margin: var(--margin) !important;
}

.m2 {
  margin: var(--margin-2) !important;
}

.m3 {
  margin: var(--margin-3) !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  z-index: 1;
}

.nothing {
  background-color: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
}

/* ============= Modular classes END ============  */

a {
  color: var(--accent);
  -webkit-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

/* a:hover {
  color: var(--accent-hover);
}

a:active {
  color: var(--accent-active);
} */

h1,
h2,
h3 {
  font-size: var(--font-size-medium);
  /* margin: 0 !important;
  word-wrap: break-word; */
}
p {
  font-size: var(--font-small);
  /* margin: 0 !important;
  word-wrap: break-word;
  text-align: justify;
  white-space: break-spaces !important; */
}

.navbar {
  background-color: var(--bg-main);
  margin-top: var(--margin)
}

.navbar a {
  color: var(--black);
  background-color: var(--bg-secondary);
  text-decoration: none;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-semibold);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

img {
  min-width: 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
  min-height: 1.5rem;
  height: 1.5rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

button {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  background-color: var(--accent);
  color: var(--white);
}

.button-square {
  border-radius: var(--border-radius) !important;
}

.button-round {
  border-radius: var(--border-radius-2) !important;
}

.button-round-2 {
  font-size: var(--font-size-small) !important;
  font-weight: var(--font-weight-medium) !important;
  padding: var(--button-padding-2) !important;
  border-radius: var(--border-radius-2) !important;
}

.vertical-bar {
  width: 1.5px;
  height: 1.5rem;
  background-color: var(--border);
  margin: 0 var(--margin);
  border-radius: var(--border-radius);
}

.link-copy {
  background-color: var(--bg-main);
}

.link-copy button {
  min-height: auto !important;
}

.link-copy-container {
  min-height: min-content;
}

.total label {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
}

input[type="range"] {
  appearance: none;
  accent-color: var(--accent-secondary);
  outline: none;
  cursor: pointer;
  /* background: none; */
  background-image: linear-gradient(
    to right,
    var(--accent-secondary) 0%,
    var(--accent-secondary) 100%
    
  );
  background-color: var(--bg-secondary);
  background-repeat: no-repeat;
  background-size: 70% 100%;
  border-radius: var(--border-radius-2);
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 1rem;
  border-radius: var(--border-radius-2);
}


input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 1rem;
  border-radius: var(--border-radius-2);
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}

input[type="range"]::-ms-track {
  height: 1rem;
  border-radius: var(--border-radius-2);
}

input[type="range"]::-ms-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--accent);
  border-radius: var(--border-radius-2);
  cursor: pointer;
}







.total input[type="number"] {
  all:unset;
  display: flex !important;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row !important;
  max-width: 4.5rem !important;
  min-width: 4.5rem !important;
  text-align: center;
  border: none;
  outline: none;
  user-select: none;
  white-space: nowrap;

}

.total input[type="range"] {
  width: 70%;
}

#follow {
  pointer-events: none;
  position: absolute !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2.5rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
  border: none;
  outline: none;
  user-select: none;
  color: var(--white);
  background-color: var(--accent);
  border-radius: var(--border-radius-2);
  transition: top 0.2s var(--bezier) !important;
}

/* Desktop styles */
@media only screen and (min-width: 1024px) {
  /* Styles for screens larger than 1024px (Desktop) */
}

/* Tablet styles */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Styles for screens between 768px and 1023px (Tablet) */
}

@media only screen and (max-width: 767px) {
  /* Styles for screens between 320px and 767px (Mobile) */
}
